.container-v2 {
    max-width: 500px;
    overflow: hidden;

    
    .cont-car {
        z-index: 1;
        position: relative;
        
        .carrusel-v2 {
            display: flex;
            height: auto;
            font-size: 0;
            cursor: pointer;
    
            
            img {
                width: calc(100%);
                max-height: 600px;
                object-fit: contain;
               
            }
        }
        button{
            top: 50%;
            position: absolute;
            width: 50px;
            height: 100px;

            cursor: pointer;
            border: none;
            
            background-color:transparent;
            color: blue;
            font-size: 34px;
            font-stretch: condensed;
            font-weight: 700;
        
            transform: translateY(-50%);
            z-index: 2;
         

           
        }
        
    
        button:first-child{
            left: 0px;
            
        }
        button:last-child{
        
            right: 0px;
        }
    }
}